<?xml version='1.0' encoding='utf-8'?>
<widget id="com.darts.halfit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Halve It!</name>
    <description>Halve It! Darts Game</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Hooks -->
    <hook type="after_prepare" src="hooks/after_prepare/copy_splash.js" />
    
    <!-- Splash Screen Preferences -->
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    
    <!-- App Icon -->
    <icon src="www/img/logo.png" />
    
    <!-- Android Icons -->
    <platform name="android">
        <icon src="www/img/logo.png" density="ldpi" />
        <icon src="www/img/logo.png" density="mdpi" />
        <icon src="www/img/logo.png" density="hdpi" />
        <icon src="www/img/logo.png" density="xhdpi" />
        <icon src="www/img/logo.png" density="xxhdpi" />
        <icon src="www/img/logo.png" density="xxxhdpi" />
        
        <!-- Android 12+ Splash Screen -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#667eea" />
    </platform>
    
    <!-- iOS Icons -->
    <platform name="ios">
        <icon src="www/img/logo.png" width="57" height="57" />
        <icon src="www/img/logo.png" width="114" height="114" />
        <icon src="www/img/logo.png" width="29" height="29" />
        <icon src="www/img/logo.png" width="58" height="58" />
        <icon src="www/img/logo.png" width="87" height="87" />
        <icon src="www/img/logo.png" width="80" height="80" />
        <icon src="www/img/logo.png" width="40" height="40" />
        <icon src="www/img/logo.png" width="120" height="120" />
        <icon src="www/img/logo.png" width="180" height="180" />
        <icon src="www/img/logo.png" width="76" height="76" />
        <icon src="www/img/logo.png" width="152" height="152" />
        <icon src="www/img/logo.png" width="167" height="167" />
        <icon src="www/img/logo.png" width="1024" height="1024" />
        
        <!-- Splash Screens -->
        <splash src="www/img/splash.png" width="320" height="480" />
        <splash src="www/img/splash.png" width="640" height="960" />
        <splash src="www/img/splash.png" width="640" height="1136" />
        <splash src="www/img/splash.png" width="750" height="1334" />
        <splash src="www/img/splash.png" width="1242" height="2208" />
        <splash src="www/img/splash.png" width="2208" height="1242" />
        <splash src="www/img/splash.png" width="768" height="1024" />
        <splash src="www/img/splash.png" width="1024" height="768" />
        <splash src="www/img/splash.png" width="1536" height="2048" />
        <splash src="www/img/splash.png" width="2048" height="1536" />
    </platform>
    
    <!-- Browser -->
    <platform name="browser">
        <icon src="www/img/logo.png" width="512" height="512" />
    </platform>
</widget>
